### TO DO LIST:
<ol type="decimal">
  <li>Preparação e exploração dos dados</li>
  <li>Métricas de qualidade e validação de modelos</li>
  <li>Árvores de decisão</li>
  <li>Regressão linear e logística</li>
</ol>

# TAREFA DATASET GRUPO

**Nota: Melhorar Descrição** 

Para esta fase, decidimos escolher um dataset referente aos valores dos mercados de futebol na Europa. 
Pode ser encontrado neste link: https://www.kaggle.com/datasets/aricht1995/european-football-market-values

**1.** Importar as bibliotecas essenciais do Python para a elaboração desta tarefa

In [2]:
import sklearn as skl
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**2.** Carregar o dataset para um dataframe da biblioteca Panda

In [4]:
df = pd.read_csv('docs/european_rosters.csv')

**3.** Obtenção de informação acerca do dataset: tipos de dados das features, conteúdo do dataset e estatística

* tipos de dados das features;

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4308 entries, 0 to 4307
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   FullName                           2052 non-null   object
 1   PlayerName                         4308 non-null   object
 2   Affiliation                        4308 non-null   object
 3   League                             4308 non-null   object
 4   Jersey                             4239 non-null   object
 5   Birth Date                         4308 non-null   object
 6   Age                                4308 non-null   int64
 7   birthPlace                         4150 non-null   object
 8   Height (meters)                    4225 non-null   float64
 9   Citizenship 1                      4298 non-null   object
 10  Citizenship 2                      742 non-null    object
 11  Position                           4240 non-null   object
 12  Position 2                         4307 non-null   object
 13  Foot                               4098 non-null   object
 14  Agent                              3619 non-null   object
 15  JoinedClub                         2438 non-null   object
 16  LastExtension                      1418 non-null   object
 17  ContractExpiration                 3931 non-null   object
 18  PlayerSponsor                      966 non-null    object
 19  Youth Club 1                       3005 non-null   object
 20  Youth Club 2                       1882 non-null   object
 21  Youth Club 3                       875 non-null    object
 22  Youth Club 4                       309 non-null    object
 23  Youth Club 5                       112 non-null    object
 24  Youth Club 6                       35 non-null     object
 25  Youth Club 7                       8 non-null      object
 26  nationality                        4308 non-null   object
 27  Games Played                       4308 non-null   int64
 28  Market Value (Euros)               4289 non-null   float64
 29  Last Updated Date                  4289 non-null   object
 30  Accumulated Transfer Sums (Euros)  4308 non-null   int64
 31  Highest Market Value (Euros)       4091 non-null   float64
 32  Highest Market Value Date          4091 non-null   object
 33  NationalTeamCaps                   4308 non-null   int64
 34  MostRecentInjury                   471 non-null    object
dtypes: float64(3), int64(4), object(28)
memory usage: 1.2+ MB

* conteúdo do dataset;

In [6]:
df.head()

,FullName,PlayerName,Affiliation,League,Jersey,Birth Date,Age,birthPlace,Height (meters),Citizenship 1,...,Youth Club 7,nationality,Games Played,Market Value (Euros),Last Updated Date,Accumulated Transfer Sums (Euros),Highest Market Value (Euros),Highest Market Value Date,NationalTeamCaps,MostRecentInjury
0,Anthony Mbu Agogo Modeste,Anthony Modeste,1. FC Koln,Bundesliga,#27,4/14/1988,31,Cannes,1.87,France,...,NaN,France,1,7000000.0,"Last update: Jun 12, 2019",45700000,20000000.0,6/19/2017,16,NaN
1,NaN,Benno Schmitz,1. FC Koln,Bundesliga,#2,11/17/1994,25,München,1.82,Germany,...,NaN,Germany,0,1000000.0,"Last update: Jun 12, 2019",1000000,1750000.0,3/22/2017,11,NaN
2,Birger Danny Verstraete,Birger Verstraete,1. FC Koln,Bundesliga,#8,4/16/1994,25,Oostende,1.75,Belgium,...,NaN,Belgium,0,4000000.0,"Last update: Jun 10, 2019",4850000,4000000.0,9/11/2018,1,NaN
3,Brady Canfield Scott,Brady Scott,1. FC Koln,Bundesliga,#31,6/30/1999,20,"Petaluma, California",1.87,United States,...,NaN,United States,14,100000.0,"Last update: Jun 12, 2019",0,100000.0,8/3/2018,0,NaN
4,NaN,Christian Clemens,1. FC Koln,Bundesliga,#17,8/4/1991,28,Köln,1.79,Germany,...,NaN,Germany,15,1750000.0,"Last update: Jun 12, 2019",7950000,3500000.0,6/29/2013,5,NaN

* estatística;

In [8]:
df.describe()

,Age,Height (meters),Games Played,Market Value (Euros),Accumulated Transfer Sums (Euros),Highest Market Value (Euros),NationalTeamCaps
count,4308.000000,4225.000000,4308.000000,4.289000e+03,4.308000e+03,4.091000e+03,4308.000000
mean,25.451718,1.825931,2.518802,7.714625e+06,7.812063e+06,9.992899e+06,11.292943
std,4.429018,0.066534,10.159712,1.474037e+07,1.741673e+07,1.656523e+07,20.133501
min,16.000000,1.590000,0.000000,2.500000e+04,0.000000e+00,2.500000e+04,0.000000
25%,22.000000,1.780000,0.000000,7.000000e+05,0.000000e+00,1.200000e+06,0.000000
50%,25.000000,1.830000,0.000000,2.500000e+06,1.000000e+06,4.000000e+06,3.000000
75%,29.000000,1.870000,2.000000,8.000000e+06,7.957500e+06,1.200000e+07,12.000000
max,42.000000,2.040000,255.000000,2.000000e+08,3.102000e+08,2.000000e+08,176.000000