### TO DO LIST:
<ol type="decimal">
  <li>Preparação e exploração dos dados</li>
  <li>Métricas de qualidade e validação de modelos</li>
  <li>Árvores de decisão</li>
  <li>Regressão linear e logística</li>
</ol>

# TAREFA DATASET GRUPO

**Nota: Melhorar Descrição** 

Para esta fase, decidimos escolher um dataset referente aos valores dos mercados de futebol na Europa. 
Pode ser encontrado neste link: https://www.kaggle.com/datasets/aricht1995/european-football-market-values 
O objetivo desta fase é, através deste dataset, inferir acerca do valor de mercado de um jogador de futebol.

**1.** Importar as bibliotecas essenciais do Python para a elaboração desta tarefa

In [1]:
import sklearn as skl
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

**2.** Carregar o dataset para um dataframe da biblioteca Panda

In [2]:
df = pd.read_csv('docs/winemag-data-130k-v2.csv', encoding="utf-8", skipinitialspace=True)

**3.** Obtenção de informação acerca do dataset: tipos de dados das features, conteúdo do dataset e estatística

* tipos de dados das features;

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

* conteúdo do dataset;

In [4]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

* estatística;

In [5]:
df.describe()

          Unnamed: 0         points          price
count  129971.000000  129971.000000  120975.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      41.022218
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      17.000000
50%     64985.000000      88.000000      25.000000
75%     97477.500000      91.000000      42.000000
max    129970.000000     100.000000    3300.000000

**4.** Preparação dos dados

In [6]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [7]:
df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [8]:
#Remoção de algumas features que considerámos desnecessárias
remove_features_list = ["Unnamed: 0", "description", "region_2", "taster_twitter_handle", "title"]
for ft in remove_features_list:
    df = df.drop(ft, axis=1)

In [9]:
# Remoção de registos duplicados (caso hajam)
df.drop_duplicates()

,country,designation,points,price,province,region_1,taster_name,variety,winery
0,Italy,Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,Kerin O’Keefe,White Blend,Nicosia
1,Portugal,Avidagos,87,15.0,Douro,NaN,Roger Voss,Portuguese Red,Quinta dos Avidagos
2,US,NaN,87,14.0,Oregon,Willamette Valley,Paul Gregutt,Pinot Gris,Rainstorm
3,US,Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,Alexander Peartree,Riesling,St. Julian
4,US,Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Paul Gregutt,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...
129965,France,Seppi Landmann Vallée Noble,90,28.0,Alsace,Alsace,Roger Voss,Pinot Gris,Domaine Rieflé-Landmann
129966,Germany,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,Anna Lee C. Iijima,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,NaN,90,75.0,Oregon,Oregon,Paul Gregutt,Pinot Noir,Citation
129969,France,NaN,90,32.0,Alsace,Alsace,Roger Voss,Pinot Gris,Domaine Marcel Deiss
129970,France,Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,Roger Voss,Gewürztraminer,Domaine Schoffit

In [10]:
# Remoção de linhas que não contêm Market Value
df = df.dropna(subset=["points"])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129971 entries, 0 to 129970
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   country      129908 non-null  object
 1   designation  92506 non-null   object
 2   points       129971 non-null  int64
 3   price        120975 non-null  float64
 4   province     129908 non-null  object
 5   region_1     108724 non-null  object
 6   taster_name  103727 non-null  object
 7   variety      129970 non-null  object
 8   winery       129971 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 9.9+ MB

In [12]:
columns = df.columns.values
for c in columns:
    print(f"{c} : {df[c].nunique()}")

country : 43
designation : 37979
points : 21
price : 390
province : 425
region_1 : 1229
taster_name : 19
variety : 707
winery : 16757

In [13]:
df.price.fillna(df.price.mean(),inplace =True)
df.country.fillna(str(df.country.mode()),inplace =True)
df.designation.fillna(str(df.designation.mode()),inplace =True)
df.province.fillna(str(df.province.mode()),inplace =True)
df.region_1.fillna(str(df.region_1.mode()),inplace =True)
df.taster_name.fillna(str(df.taster_name.mode()),inplace =True)
df.variety.fillna(str(df.variety.mode()),inplace =True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129971 entries, 0 to 129970
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   country      129971 non-null  object
 1   designation  129971 non-null  object
 2   points       129971 non-null  int64
 3   price        129971 non-null  float64
 4   province     129971 non-null  object
 5   region_1     129971 non-null  object
 6   taster_name  129971 non-null  object
 7   variety      129971 non-null  object
 8   winery       129971 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 9.9+ MB

In [15]:
df.drop('designation',axis=1,inplace=True)
df.drop('winery',axis=1,inplace=True)

In [16]:
for c in df.columns.values:
    print(c)
    if(df[c].dtype=='object'):
        labels = df[c].astype('category').cat.categories.tolist()
        replace_map_comp = {c : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
        df.replace(replace_map_comp,inplace=True)

df.head()

country
points
price
province
region_1
taster_name
variety

   country  points      price  province  region_1  taster_name  variety
0       24      87  35.363389       333       426           11      692
1       33      87  15.000000       110         1           17      452
2       42      87  14.000000       270      1219           16      438
3       42      87  13.000000       220       551            2      481
4       42      87  65.000000       270      1219           16      442

**5.** Preparação dos dados

* Decision Tree regressor

In [17]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import f1_score
from sklearn.metrics import fbeta_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [18]:
x = df.drop(['points'],axis=1)
y = df['points'].to_frame()

In [19]:
x

        country      price  province  region_1  taster_name  variety
0            24  35.363389       333       426           11      692
1            33  15.000000       110         1           17      452
2            42  14.000000       270      1219           16      438
3            42  13.000000       220       551            2      481
4            42  65.000000       270      1219           16      442
...         ...        ...       ...       ...          ...      ...
129966       19  28.000000       234         1            3      481
129967       42  75.000000       270       789           16      442
129968       17  30.000000        13        23           17      211
129969       17  32.000000        13        23           17      438
129970       17  21.000000        13        23           17      211

[129971 rows x 6 columns]

In [20]:
y

        points
0           87
1           87
2           87
3           87
4           87
...        ...
129966      90
129967      90
129968      90
129969      90
129970      90

[129971 rows x 1 columns]

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=2021)

In [22]:
clf = DecisionTreeRegressor(random_state=2021)

In [23]:
clf.fit(x_train,y_train)

DecisionTreeRegressor(random_state=2021)

In [24]:
predictions = clf.predict(x_test)
predictions

array([89.71014493, 85.4       , 87.66666667, ..., 90.25      ,
       90.08      , 90.        ])

In [25]:
mean_absolute_error(y_test,predictions)

1.8833078779222592

In [26]:
y_test

        points
78282       93
34783       86
73073       86
29687       88
39799       87
...        ...
86911       88
320         86
121825      92
124977      88
1892        89

[32493 rows x 1 columns]

In [27]:
predictions

array([89.71014493, 85.4       , 87.66666667, ..., 90.25      ,
       90.08      , 90.        ])